{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block body %}

<h1>{{"Galicaster Importer" | trans}}</h1>
{% if series %}<h3>{{"Importing to" | trans}} {{series[1]}}</h3>{% endif %}

<div class="row">
  <div class="col-md-10">
    <div class="well">
      <div id="list_users">
        {% include 'PumukitGCImporterBundle:GCImporter:list.html.twig' %}
      </div>
    </div>
  </div>
  <div class="col-md-2">
    {% include 'PumukitGCImporterBundle:GCImporter:filters.html.twig' %}
  </div>
</div>

{% endblock %}